<div class="container">
  <div class="row">
    <div class="col l4 s12">
    <h3>Open</h3>
      <%= render @open %>
    </div>
    <div class="col l4 s12">
    <h3>WIP</h3>
      <%= render @wip %>
    </div>
    <div class="col l4 s12">
    <h3>Closed</h3>
      <%= render @closed %>
    </div>
  </div>
  <div class="row">
    <%= link_to 'New Task', new_task_path %>
  </div>
</div>
